@model IEnumerable<Cineama.Models.MovieModel>

@Styles.Render("~/Content/Movie.css")


@{
    ViewBag.Title = "Index";
}




<div class="col-lg-12 col-md-12 col-sm-12" id="movieWrapper">


    @foreach (var item in Model)
    {
        <div class="col-sm-12 " id="posterWraper">
            <div id="titleDiv">
                    <b> @Html.DisplayFor(modelItem => item.title) </b>

            </div>
            <div id="poster">
                <a href='@Url.Action("Details", "Movie", new { id = item.movieId })'>
                    <img src="@Html.DisplayFor(modelItem => item.posterUrl)" width="150" height="210" />
                </a>
            </div>
            <div>
                @if (User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.movieId })
                }
            </div>
        </div>
    }

</div>
<div class="col-md-12">
    <button>
        @if (User.IsInRole("Manager"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </button>
</div>
